{% extends "base.html" %}
{% block content %}
<p></p>
<form method="POST" class="form-horizontal" role="form">
  <div class="form-group">
    <label class="control-label col-sm-2" for="winner">Win</label>
    <div class="col-sm-10">
      {{ form.winner(class_="form-control", id="winner") }}
      {{ form.winner_score(class_="form-control", id="winner_score") }}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="loser">Loss</label>
    <div class="col-sm-10">
      {{ form.loser(class_="form-control", id="loser") }}
      {{ form.loser_score(class_="form-control", id="loser_score") }}
    </div>
  </div>
  <p></p>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
{% endblock %}
