{% extends "base.html" %}
{% block content %}
<h1>Ratings Leader Board</h1>
<table width="100%" class="table table-striped">
  <tr>
    <th>player</th>
    <th>rating</th>
  </tr>
  {% for rating, player in leader_board %}
    <tr>
      <td>{{ player }}</td>
      <td>{{ rating }}</td>
    </tr>
  {% endfor %}
</table>

<h1>Ratings History</h1>
<table width="100%" class="table table-striped">
  <tr>
    <th>date</th>
    <th>matchup</th>
    <th>score</th>
    <th colspan="2">movements</th>
  </tr>
  {% for g in games %}
    <tr>
      <td>{{ g.date }}</td>
      <td>{{ g.winner.name }} vs {{ g.loser.name }}</td>
      <td>{{ g.winner_score }} - {{ g.loser_score }}</td>
      <td>{{ g.winner.name }}: {{ g.winner_new_rating }} ({{ g.winner_move }})</td>
      <td>{{ g.loser.name }}: {{ g.loser_new_rating }} ({{g.loser_move}})</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
