{% extends "base.html" %}
{% block content %}
<h1>Ratings Leader Boards</h1>

<h2>Point Spread</h2>
<p>Based on the number of points scored by each player in a game.</p>
<table width="100%" class="table table-striped">
  <tr>
    <th>player</th>
    <th>rating</th>
  </tr>
  {% for rating, player in ps_leader_board %}
    <tr>
      <td>{{ player }}</td>
      <td>{{ rating }}</td>
    </tr>
  {% endfor %}
</table>

<h2>Win/Loss</h2>
<p>Based on which player won or lost each game.</p>
<table width="100%" class="table table-striped">
  <tr>
    <th>player</th>
    <th>rating</th>
  </tr>
  {% for rating, player in wl_leader_board %}
    <tr>
      <td>{{ player }}</td>
      <td>{{ rating }}</td>
    </tr>
  {% endfor %}
</table>

<h1>Ratings History</h1>
<table width="100%" class="table table-striped">
  <tr>
    <th>date</th>
    <th class="text-right">movements</th>
    <th class="text-right">player</th>
    <th class="text-center">score</th>
    <th class="text-left">player</th>
    <th class="text-left">movements</th>
  </tr>
  {% for g in games %}
    <tr>
      <td>{{ g.date }}</td>
      <td class="text-right">
          ps={{ g.winner_ps_rating }} ({{ g.winner_ps_move }}),
          wl={{ g.winner_wl_rating }} ({{ g.winner_wl_move }})
      </td>
      <td class="text-right">{{ g.winner.name }}</td>
      <td class="text-center">{{ g.winner_score }} - {{ g.loser_score }}</td>
      <td class="text-left">{{ g.loser.name }}</td>
      <td class="text-left">
        ps={{ g.loser_ps_rating }} ({{ g.loser_ps_move }}),
        wl={{ g.loser_wl_rating }} ({{ g.loser_wl_move }})
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
